/* Background Element */
#appHeader {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #eee;
	background-image: url('header-decoration.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-clip: border-box;
	background-position: center;
	background-origin: border-box;
	background-attachment: scroll;
}

/* Badge */
#appHeader #appHeaderPresentation {
	position: absolute;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	height: 200px;
	border-radius: 3px;
	text-align: center;
	background-color: #eee;
	opacity: .8;
}

/* 
	If the screen width is equal or less than 600px, make the background height 
	to 60 vw
*/ 

@media only screen and (max-width: 600px) {
	/* Background Element */
	#appHeader {
		height: 50vw;
		min-height: 260px;
	}
	header#appHeader #appHeaderPresentation {
		height: 140px;
		width: 90vw;
	}
	#appHeader #appHeaderPresentation #name {
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 600px) {
	#appHeader {
		height: 50vh;
	}
	#appHeader #appHeaderPresentation #name {
		font-size: 2.5em;
	}
	header#appHeader #appHeaderPresentation {
		height: 200px;
	}
}

@media only screen and (min-width: 768px) {
	#appHeader {
		height: 70vh;
	}
	#appHeader #appHeaderPresentation #name {
		font-size: 3.2em;
	}
}

@media only screen and (min-width: 992px) {
	#appHeader {
		height: 70vh;
	}
	/* The size of: D&D Service-Traiteur */
	#appHeader #appHeaderPresentation #name {
		font-size: 4em;
	}
	header#appHeader #appHeaderPresentation {
		height: 250px;
	}
}

@media only screen and (min-width: 1200px) {
	#appHeader {
		height: 80vh
	}
	#appHeader #appHeaderPresentation #name {
		font-size: 4.5em;
	}
}

#appHeader #appHeaderPresentation #name {
	font-family: nameFont;
}

@font-face {
	font-family: nameFont;
	src: url('../../fonts/ShadowsIntoLight-Regular.ttf');
}