/* 
  Change the whole font size of the h1 element 
  if the viewport size is less than 600px 
*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.6em!important;
  }
}

.kalamFont {
  font-family: kalamFont!important;
}

.caveatFont {
  font-family: caveatFont!important;
}

.dancingFont {
  font-family: dancingScript!important;
}

.hindFont {
  font-family: hindFont!important;
}

.shadowFont {
  font-family: shadowFont!important;
}

@font-face {
  font-family: kalamFont;
  src: url('fonts/Kalam-Regular.ttf');
}

@font-face {
  font-family: caveatFont;
  src: url('fonts/Caveat-Regular.ttf');
}

@font-face {
  font-family: dancingScript;
  src: url('fonts/DancingScript-Regular.ttf');
}

@font-face {
  font-family: hindFont;
  src: url('fonts/Hind-Regular.ttf');
}

@font-face {
  font-family: shadowFont;
  src: url('fonts/ShadowsIntoLight-Regular.ttf');
}
